In [5]:
import pandas as pd

dir_ib = '/home/nmathewa/main/GIT/tropcyc/atlantic_exps/Datasets/'

In [15]:
dft_ib = pd.read_csv(dir_ib + 'ibtracs.NA.list.v04r00.csv')

/tmp/ipykernel_18527/4044007448.py:1: DtypeWarning: Columns (1,2,3,8,9,14,19,20,23,24,161,162) have mixed types. Specify dtype option on import or set low_memory=False.
  dft_ib = pd.read_csv(dir_ib + 'ibtracs.NA.list.v04r00.csv')

In [16]:
dft_ib.head()

,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,LON,...,BOM_GUST_PER,REUNION_GUST,REUNION_GUST_PER,USA_SEAHGT,USA_SEARAD_NE,USA_SEARAD_SE,USA_SEARAD_SW,USA_SEARAD_NW,STORM_SPEED,STORM_DIR
0,,Year,,,,,,,degrees_north,degrees_east,...,second,kts,second,ft,nmile,nmile,nmile,nmile,kts,degrees
1,1851175N26270,1851,5,NaN,GM,NOT_NAMED,1851-06-23 12:00:00,TS,26.1000,-90.4000,...,,,,,,,,,6,291
2,1851175N26270,1851,5,NaN,GM,NOT_NAMED,1851-06-23 15:00:00,TS,26.2001,-90.6999,...,,,,,,,,,6,290
3,1851175N26270,1851,5,NaN,GM,NOT_NAMED,1851-06-23 18:00:00,TS,26.3000,-91.0000,...,,,,,,,,,6,290
4,1851175N26270,1851,5,NaN,GM,NOT_NAMED,1851-06-23 21:00:00,TS,26.3999,-91.3001,...,,,,,,,,,6,290

In [9]:
months = ['08','09','10','11','12']

#dft_ib['ISO_TIME'] = pd.to_datetime(dft_ib['ISO_TIME'])

/tmp/ipykernel_18527/423090698.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dft_ib['ISO_TIME'] = pd.to_datetime(dft_ib['ISO_TIME'])

DateParseError: Unable to parse datetime string:  , at position 0